<link href="{PROFILECOVER_THEME_PATH}/profilecover.css?v={PROFILECOVER_ASSET_VERSION}" rel="stylesheet" type="text/css" media="screen" />

<div class="profilecover-header<!-- IF not S_PROFILE_COVER_EXISTS --> profilecover-header--default<!-- ENDIF -->"
    <!-- IF S_PROFILE_COVER_EXISTS -->
        style="background-image: url('{PROFILE_COVER_SRC}'); background-position: {PROFILE_COVER_POS_X}% {PROFILE_COVER_POS_Y}%; height: <!-- IF PROFILE_COVER_HEADER_HEIGHT -->{PROFILE_COVER_HEADER_HEIGHT}<!-- ELSE -->300<!-- ENDIF -->px;"
    <!-- ELSE -->
        style="height: <!-- IF PROFILE_COVER_HEADER_HEIGHT -->{PROFILE_COVER_HEADER_HEIGHT}<!-- ELSE -->300<!-- ENDIF -->px;"
    <!-- ENDIF --> >

    <div class="profilecover-header__overlay"></div>

    <div class="profilecover-header__inner">
        <div class="profilecover-header__avatar">
            <!-- IF AVATAR_IMG -->
                {AVATAR_IMG}
            <!-- ENDIF -->
        </div>

        <div class="profilecover-header__content">


            <!-- IF U_EDIT_SELF or U_USER_ADMIN or U_USER_BAN or U_SWITCH_PERMISSIONS -->

            <!-- ENDIF -->
        </div>
    </div>
</div>
